## PARTE I

In [1]:
import pandas as pd
import numpy as np

In [2]:
base = pd.read_csv('dados/iris.csv')

In [3]:
amostra = np.random.choice(a=[0,1], size=150, replace=True, p=[0.5, 0.5])

## PARTE II

In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [6]:
base = pd.read_csv('dados/iris.csv')

In [15]:
base.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [8]:
base['class'].value_counts()

Iris-setosa        50
Iris-virginica     50
Iris-versicolor    50
Name: class, dtype: int64

In [9]:
X, _, y, _ = train_test_split(base.iloc[:, 0:4], base.iloc[:, 4], test_size=0.5, stratify = base.iloc[:, 4])

In [12]:
y.value_counts()

Iris-versicolor    25
Iris-setosa        25
Iris-virginica     25
Name: class, dtype: int64

In [13]:
base2 = pd.read_csv('dados/infert.csv')

In [14]:
base2.head()

,Unnamed: 0,education,age,parity,induced,case,spontaneous,stratum,pooled.stratum
0,1,0-5yrs,26,6,1,1,2,1,3
1,2,0-5yrs,42,1,1,1,0,2,1
2,3,0-5yrs,39,6,2,1,0,3,4
3,4,0-5yrs,34,4,2,1,0,4,2
4,5,6-11yrs,35,3,1,1,1,5,32

In [17]:
base2['education'].value_counts()

6-11yrs    120
12+ yrs    116
0-5yrs      12
Name: education, dtype: int64

In [21]:
X, _, y, _ = train_test_split(base2.iloc[:, 2:], base2.iloc[:, 1], test_size=0.6, stratify=base2.iloc[:, 1])

In [22]:
y.value_counts()

6-11yrs    48
12+ yrs    46
0-5yrs      5
Name: education, dtype: int64

## PARTE III

In [1]:
import numpy as np
import pandas as pd
from math import ceil

In [2]:
base = pd.read_csv('dados/iris.csv')

In [7]:
def sistematica(populacao, amostra):
    k = ceil(populacao / amostra)
    acumulador = np.random.randint(low=0, high=k, size=1)[0]
    sorteados = []
    for i in range(amostra):
        sorteados.append((i * k) + acumulador)
    return sorteados

In [10]:
sistematica(150, 15)

[9, 19, 29, 39, 49, 59, 69, 79, 89, 99, 109, 119, 129, 139, 149]

In [11]:
base.iloc[sistematica(base.shape[0], 15)].head()

    sepal length  sepal width  petal length  petal width        class
6            4.6          3.4           1.4          0.3  Iris-setosa
16           5.4          3.9           1.3          0.4  Iris-setosa
26           5.0          3.4           1.6          0.4  Iris-setosa
36           5.5          3.5           1.3          0.2  Iris-setosa
46           5.1          3.8           1.6          0.2  Iris-setosa